[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vim-easymotion"]
	path = home/.vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "home/.vim/bundle/vim-foreplay"]
	path = home/.vim/bundle/vim-foreplay
	url = git://github.com/tpope/vim-foreplay.git
[submodule "home/.vim/bundle/vim-classpath"]
	path = home/.vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "home/.vim/bundle/vim-clojure-static.git"]
	path = home/.vim/bundle/vim-clojure-static.git
	url = git://github.com/guns/vim-clojure-static.git
[submodule "home/.vim/bundle/vim-clojure-static"]
	path = home/.vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
