[user]
	name = Andrew D. Wong
	email = andrewwong1221@gmail.com
[color]
  branch = auto
    diff = auto
      status = auto
[color "branch"]
    current = yellow reverse
      local = yellow 
        remote = green
[color "diff"]
    meta = yellow bold
      frag = magenta bold
        old = red bold
          new = green bold
[color "status"]
    added = yellow
      changed = green
        untracked = cyan

[diff]
    tool = default-difftool

[difftool]
    prompt = false
[difftool "default-difftool"]
    cmd = $HOME/.default-difftool.sh $LOCAL $REMOTE
